<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="genius.mohammad.portdetective"
    android:versionCode="5"
    android:versionName="5.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="genius.mohammad.portdetective.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PortScanningActivity"
            android:label="@string/activity2"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".PortDescriptorActivity"
            android:label="@string/activity3"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/activity4"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>